<div class="uk-container uk-margin-medium-top">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Sign up</legend>

    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Username" [(ngModel)]="username" />
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="email" placeholder="Email address" [(ngModel)]="emailAddress" />
    </div>

    <div class="uk-margin">
      <input class="uk-input" type="password" placeholder="Password" [(ngModel)]="password" />
    </div>

    <div class="uk-margin">
      <button class="uk-button uk-button-primary" (click)="submit()">Submit</button>
    </div>
  </fieldset>
</div>
